body {
    background-color: #f1f1f1;
}

.main-screen {
    width: 350px;
    height: 600px;
    border-radius: 30px;
    background-color: black;
    margin-top: 80px;
    margin-left: 570px;
}

.divider {
    border-bottom: 3px solid #a5a9a9;
    width: 350px;
    margin-left: 570px;
    margin-bottom: 400px;
}

.bottom-buttons {
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    gap: 12px;
}
button {
    margin-bottom: 500px;
}

.home-button {
    width: 12px;
    height: 10px; 
}
