body {
    background-color: #f1f1f1;
}

.main-screen {
    width: 350px;
    height: 600px;
    border-radius: 30px;
    background-color: black;
    margin-top: 80px;
    margin-left: 570px;
}

.divider {
    border-bottom: 3px solid #a5a9a9;
    width: 350px;
    margin-top: -45px;
}

.bottom-buttons {
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    gap: 12px;
}
button {
    margin-top: 560px;
}

.home-button {
    width: 65px;
    height: 25px;
    border-radius: 12px;
    border: 1.5px solid white;
    background-color: rgb(23, 23, 23); 
    box-shadow: -2px -2px 9px -4px  white;
}
.left-button {
    height: 20px;
    width: 17px;
    border: 1.5px solid white;
    background-color: rgb(37, 32, 32); 
    box-shadow: -2px -2px 9px -4px  white;
    border-radius: 5px;
}
.right-button {
    height: 20px;
    width: 17px;
    border: 1.5px solid white;
    background-color: rgb(37, 32, 32); 
    box-shadow: -2px -2px 9px -4px  white;
    border-radius: 5px;
}

h1 {
    color: white;
    margin-top: -430px;
    font-size: 65px;
    margin-left: 30px;
    font-family: 'PT Sans', sans-serif;
}

h1 span {
    color: white;
    font-size: 30px;
}

h2 {
    color: white;
    margin-top: -50px;
    margin-left: 35px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.top-divider {
    border-bottom: 3px solid #a5a9a9;
    width: 350px;
    margin-top: -150px;
}

.google-search {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 170px;
    width: 290px;
    height: 35px;
    margin-left: 27px;
    border-radius: 4px;
    border: none;
}
.voice-search {
    width: 0px;
    margin-top: -31px;
    margin-left: 265px;
    background-color: white;
    border: none;
}

.apps {
    margin-top: 184px;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    gap: 28px;
    background-color: black;
    border: none;
    margin-left: 7px;
}

.call-button,.messages-button, .camera-button, .main-button, .gallery-button {
    width: 42px;
    height: 42px;
}

.main-button {
    background-color: white;
    border-radius: 10px;
}

.apss-names {
    display: flex;
	flex-direction: row;
    margin-top: -10px;
    gap: 20px;
    color: white;
    margin-left: 20px;
}

.phone-name {
    margin-left: -5px;
}

.messages-name {
    margin-left: -3px;
}

.apps-name {
    margin-left: 2px;
}

.gallery-name {
    margin-left: 10px;
}

.top-icons {
    display: flex;
	flex-direction: row;
    gap: 10px;   
    margin-top: -465px;
    margin-left: 180px;
}

.battery, .data, .wifi {
    width: 20px;
    height: 20px;
}

.top-time {
    color: white;
    font-family: 'PT Sans', sans-serif;
    margin-top: auto;
    font-size: 15px;
}
.data {
    margin-top: -3px;
}
.wifi {
    margin-top: -3px;
}